* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Arial Black", sans-serif;
    font-size: 2.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("fond.jpg");
}

#container {
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
    font-style: italic;
    text-shadow: 5px 5px 5px darkgrey;
    margin-top: 5%;
    color: #ffffff;
}

#time {
    position: absolute;
    top: 2%;
    left: 2%;
    font-style: italic;
    text-shadow: 5px 5px 5px #ccfffd;
    color: #ebeef8;
}

#meteo {
    width: 80%;
    margin: 3% auto 3% auto;
    border: 7px solid #00008c;
    border-radius: 10px;
    background: rgb(230,240,245);
    background: radial-gradient(circle, rgba(230,240,245,1) 4%, rgba(179,199,217,1) 50%, rgba(175,178,255,1) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.meteo {
    width: 30%;
    text-align: center;
    margin: 2% 0 2% 0;
    font-size: 2rem;
    text-transform: capitalize;
}

.title {
    font-style: italic;
    font-size: 2.5rem;
    text-decoration-line: underline;
}

label, input {
    margin-top: 3%;
}

label {
    margin-left: 10%;
    color: white;
}

input {
    height: 30px;
    width: 15%;
    text-align: center;
    font-size: 2rem;
    margin-left: 2%;
}

button {
    padding: 1%;
    font-weight: bold;
    margin-left: 2%;
}

@media screen and (max-width: 650px){
    h1 {
        margin-top: 15%;
        font-size: 4rem;
    }

    #meteo {
        margin-top: 5%;
        width: 100%;
    }

    label {
        margin-left: 1%;
    }

    input {
        width: 25%;
    }

     button {
         margin: 0;
     }
}

@media screen and (max-width: 500px){
    .meteo {
        font-size: 1.5rem;
    }

    .title {
        font-size: 1.8rem;
    }

    label {
        font-size: 1.5rem;
    }

    input {
        font-size: 1.5rem;
    }
}